<script>
    function showdesc(){
        var fldval = '';
        if (document.getElementById('product_description') == null || document.getElementById('product_description').value == '') {
            fldval = 'DESCRIPTION CAME UP NULL';
        }
        else {
            fldval = document.getElementById('product_description').value;
        }
        alert(fldval);
        return;
    }
    
</script>

<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, rows: 6 %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <% # 5-30-2016 I finally found out how to create a button to run javascript without submitting the form! %>
  <button type="button" onclick="showdesc(); return false;">Show me the description data</button>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
